################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/my-first-jss-app/.vs/my-first-jss-app/v16/.suo
/my-first-jss-app/.vs
/my-first-jss-app/node_modules
